<div id="aboutpage">
<p>
Hello, my name is Cyrus Baumgarten and welcome to my first Rails app. 21 days after I ran my first <a href="https://github.com/Cyrus-Baumgarten/rails_with_scaffold/commits/master">rails g scaffold</a> command I made my way to this blog; my first app from <a href="https://github.com/Cyrus-Baumgarten/blog_css">rails new to git push heroku master</a>….and I’m happy to say I didn’t use scaffolding.
</p>
<%= image_tag("blog_image.png", alt: "me") %>
<p>
I am a learning web developer working in the greater Seattle Area. I am currently dedicating all of my time to learning and practicing RoR and web development in general, with hopes to secure a full time career in the field. I not only love the logic and structure of web development, but also the sheer amount of knowledge available so you can always keep learning and getting better. I ‘m also glad to be part of an enthusiastic and helpful web development community.
</p>
<p>
I am in the transition phase between “book learning” and hands on training with real world projects. I am currently working on as many prototypes, startup ideas and internship projects as I can find, while still cracking open a book or sitting down for a few hours of tutorials when I can.
</p>
<p>
Along the way if I find anything that might help someone else get unstuck I’ll post it here and hope to save someone else a few hundred google searches! Feel free to sign up and comment, I don’t believe in subscription emails so you wont get any spam from me, and there’s about 800,000,000 lines of code ensuring that you can comment anonymously if you choose to.
</p>
Thanks for your time and enjoy your stay, if you’ve gotten this far feel free to email me: <a href="mailto:cdbaumg@gmail.com" id="email">cdbaumg@gmail.com</a>
</p>
<br>
<br>
<br>
<br>
<p>
	Background textures from <a href="http://subtlepatterns.com">Subtle Patterns</a>
</p>
</div>