<div id="aboutpage">
<%= image_tag("blog_image.png", alt: "me") %>
<p>
Hello, my name is Cyrus Baumgarten and welcome to my first Rails app.
</p>
<p>
I am a Rails Developer currently looking for a Junior Position in San Francisco. Please take a look at my <a href="http://www.cyrusbaumgarten.com">Portfolio and Resume</a>.
</p>
<p>
I'm currently keeping myself busy job hunting while still trying to learn new things or crack open a book when I can.</p>
<p>
Along the way if I find anything that might help someone else get unstuck I’ll post it here and hope to save someone else a few hundred google searches! Feel free to sign up and comment, named or anonymously. I don’t believe in subscription emails so you wont get any spam from me.
</p>
Thanks for your time and enjoy your stay, if you’ve gotten this far feel free to email me: <a href="mailto:cdbaumg@gmail.com" id="email">cdbaumg@gmail.com</a>, or follow me on Twitter: <a href="https://twitter.com/Cyrus_On_Rails">@Cyrus_On_Rails</a>
</p>
<br>
<br>
<br>
<br>
<p>
	Background textures from <a href="http://subtlepatterns.com">Subtle Patterns</a>
</p>
</div>