<% if Post.any? %>

<div class="universal-title">
<p>Latest Article</p>
</div>

<div id="home-page-link-title">
	<p><%= link_to @post.title, post_path(@post) %></p>
</div>

<p><%= @post.body %></p>

<% end %>