<p>
	<%= form_for @comment do |f| %> 
	<%= f.label :body, "Post Comment" %>
	<%= f.text_field :body %>
	<%= f.submit "Update Comment"%>
	<% end %>
</p>


<h1>Comments#edit</h1>
<p>Find me in app/views/comments/edit.html.erb</p>
