<p>Add a Username to put next to your comments<br>(blank usernames will automatically defualt to Anonymous)</p>


<%= form_for @user do |f| %>
<br>
<%= f.label :name, "Username" %>
<%= f.text_field :name %>
<%= f.submit "Submit" %>

<% end %>