<% unless @user.anonymous? or @user.name? == false %>
<p>View Profile:</p>

<p> Username: <%= @user.name %></p>

<p> Anonymous? <%= @user.anonymous.to_s %></p>

<p> Subscribed? <%= @user.subscribe.to_s %></p>
<% end %>

<% if current_user.admin? %>
<%= link_to 'Admin Delete', @user, method: :delete%>
<% end %>

<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
