<p>
	<%= link_to post.title, post_path(post)%> 
	<% if user_signed_in? and current_user.admin? %>
	<%= link_to "Edit", edit_post_path(post)%>
	<%= link_to "Delete", post, method: :delete %>
	<% end %>
</p>