All Posts

<% @posts.each do |post| %>

<p>
	<%= link_to post.title, post_path(post)%> 
	<% if user_signed_in? and current_user.admin? %>
	<%= link_to "Edit", edit_post_path(post)%>
	<%= link_to "Delete", post, method: :delete %>
	<% end %>
</p>

<% end %>

<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
