Showing Post

<p>Post Author: <%= @post.user.email %></p>

<p>Post Title: <%= @post.title %></p>
	
<p>Post Text: <%= @post.body %></p>

<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
