/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

*{
	font-family: Geneva, Verdana, sans-serif;
}

body{
	background-color: #0066CC;
}

#navbar-full-width{
	border-bottom:1px solid white;
	height: 90px;
	background-color: #303031;
	position:fixed;
	left:0;
	right:0;
	top:0;
	z-index: +1;
}

#navbar-inner{
	margin:auto;
	padding:10px;
	height:70px;
	width:980px;
	top:0;
	bottom:0;
}

#button-1{
	background-color:#0066CC;
	margin-left: 790px;
	margin-top:-70px;
}
#button-2{
	background-color:#3385D6;
	margin-left: 790px;
}
#button-3{
	background-color:#5C9DDE;
	margin-left: 790px;
}
#button-4{
	background-color:#FF977D;
	margin-left: 590px;
	margin-top:-90px;
}
#button-5{
	background-color:#FF7D5C;
	margin-left: 590px;
}
#button-6{
	background-color:#FF5C33;
	margin-left: 590px;
}

.navcluster{
	font-weight: 600;
	text-align: center;
	padding:4px;
	height:22px;
	width:192px;
}


#logo{
	font-weight: 800;
	margin-top: 7.5px;
	font-size: 40px;
}

#logoblue{
	color: #0066CC;
}

#logoorange{
	color: #FF5C33;
}

#inner-body{
	color:white;
	width:1000px;
	margin:auto;
}

#inner-body-left-side{
	background-color: #696969;
	padding:10px;
	padding-top:80px;
	width:778px;
	border:1px solid white;
}

.alert {
	background-color: red;
	color: white;
	padding: 5px;
	display:inline-block;
}

.success {
	background-color: green;
	color: white;
	padding: 5px;
	display:inline-block;
}

.notice {
	background-color: green;
	color: white;
	padding: 5px;
	display:inline-block;
}