/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

*{
	font-family: Geneva, Verdana, sans-serif;
}

html{
	height:100%;
}

body{
	background-image:url('darkdenim3 copy.png');
	background-repeat:repeat;
	background-color: #59595A;
	height: 100%;
}

.universal-title{
	color:white !important;
	font-size:30px;
	text-align:center;
}

.admin-item{
	padding:3px;
	border: 3px solid white;
	color:white;
	background-color:red;
	font-weight:bold;
	display:inline-block;
}
.admin-item a:link{
	color:white !important;
}
.admin-item a:visited{
	color:white !important;
}

#navbar-full-width{
	
	height: 90px;
	position:fixed;
	left:0;
	right:0;
	top:0;
	z-index: +1;
}

#navbar-inner{
	background-image:url('darkdenim3 copy.png');
	background-repeat:repeat;
	border-bottom: 1px solid white;
	margin:auto;
	padding:10px;
	height:70px;
	width:980px;
	top:0;
	bottom:0;
}

#button-1{
	background-color:#80B2E6;
	margin-left: 790px;
	margin-top:-70px;
	border-right:1px solid white;
}
#button-2{
	background-color:#66A3E0;
	margin-left: 790px;
	border-right:1px solid white;
}
#button-3{
	background-color:#4D94DB;
	margin-left: 790px;
	border-right:1px solid white;
}
#button-4{
	background-color:#0066CC;
	margin-left: 590px;
	margin-top:-90px;
}
#button-5{
	background-color:#1975D1;
	margin-left: 590px;
}
#button-6{
	background-color:#3385D6;
	margin-left: 590px;
}

.navcluster{
	border-left:1px solid white;	
	font-weight: 400;
	text-align: center;
	padding:4px;
	height:22px;
	width:191px;
	color:white;
}

.navcluster a{
	text-decoration:none;
}
.navcluster a:link{
	color:white;
}
.navcluster a:visited{
	color:white;
}
.navcluster a:hover{
	text-decoration:underline;
}


#logo{
	font-weight: 800;
	margin-top: 7.5px;
	font-size: 40px;
}

#logo a {
	text-decoration: none;
}

#logoblue1{
	color: #0066CC;
}
#logoblue2{
	color: #1975D1;
}
#logoblue3{
	color: #3385D6;
}
#logoblue4{
	color: #4D94DB;
}
#logoblue5{
	color: #66A3E0;
}
#logowhite1{
	color: white;
}
#logowhite2{
	color: white;
}
#logoorange5{
	color: #D14719;
}
#logoorange4{
	color: #D65930;
}
#logoorange3{
	color: #DA6C47;
}
#logoorange2{
	color: #DF7E5E;
}
#logoorange1{
	color: #E39175;
}

#inner-body{
	background-color:#59595A;
	width:1000px;
	min-height:100%;
	margin:auto;
	position:relative;
}

#inner-body-left-side{
	background-image:url('darkdenim3 copy 2.png');
	background-repeat:repeat;
	background-color: #59595A;
	color:white;
	padding:40px;
	padding-top:80px;
	width:719px;
	border-left:1px solid white;	
	border-bottom:1px solid white;	
	display:inline-block;
	min-height:1000px;
}

#inner-body-right-side{
	background-image:url('darkdenim3 copy 3.png');
	background-repeat:repeat;
	padding:10px;
	margin-top:70px;
	overflow-y:scroll;
	background-color:#D14719;
	width:179px;
	border-right: 1px solid white;
	border-left: 1px solid white;
	display:inline-block;
	height:88%;
	position:fixed;
}

#feedtitle{
	font-size:16px;
	font-weight:600;
}
#feedtitle a:link{
	color:black;
}
#feedtitle a:visited{
	color:black;
}

#feedbody{
	color: #303031;
	font-size:14px;
}


#button7{
	margin:auto;
	font-weight: 600;
	color:black;
	text-align: center;
	padding:4px;
	height:22px;
	width:191px;
	background-color:#DA6C47;
	margin-left:-10px;
}

#button7 a{
	color:black;
	text-decoration:none;
}
#button7 a:hover{
	text-decoration:underline;
}

#button8{
	margin:auto;
	font-weight: 600;
	color:black;
	text-align: center;
	padding:4px;
	height:22px;
	width:191px;
	background-color:#E1896C;
	margin-left:-10px;
	text-decoration: none;
}

#button8 a{
	color:black;
	text-decoration:none;
}
#button8 a:hover{
	text-decoration:underline;
}

#footer{
	background-image:url('darkdenim3 copy.png');
	background-repeat:repeat;
	background-color: #303031;
	padding:10px;
	width:779px;
	margin-bottom:-10px;
	color:#59595A;
}

#footer a:link{
	color:white;
}

#footer a:visited{
	color:white;
}

#sitemap{
	width:779px;
}

#sitemap a{
	text-decoration:none;
}

#sitemap a:hover{
	text-decoration:underline;
}

.pullright{
	text-align:right;
}

.alert {
	background-color: #D14719;
	color: white;
	padding: 5px;
}

.success {
	background-color: #0066CC;
	color: white;
	padding: 5px;
}

.notice {
	background-color: #0066CC;
	color: white;
	padding: 5px;
}