#footer{
	background-image:url('darkdenim3 copy.png');
	background-repeat:repeat;
	background-color: #303031;
	padding:10px;
	width:779px;
	margin-bottom:-10px;
	color:#59595A;
}

#footer a:link{
	color:white;
}

#footer a:visited{
	color:white;
}

#sitemap{
	width:779px;
}

#sitemap a{
	text-decoration:none;
}

#sitemap a:hover{
	text-decoration:underline;
}

.pullright{
	text-align:right;
}