#inner-body-left-side{
	background-image:url('darkdenim3 copy 2.png');
	background-repeat:repeat;
	background-color: #59595A;
	color:white;
	padding:40px;
	padding-top:80px;
	width:719px;
	border-left:1px solid white;	
	border-bottom:1px solid white;	
	display:inline-block;
	min-height:1000px;
}

#inner-body-left-side a{
	text-decoration:none;
}
#inner-body-left-side a:link{
	color:#D14719;
}
#inner-body-left-side a:hover{
	text-decoration:underline;
}
#inner-body-left-side a:visited{
	color:#D14719;
}
